body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}


#img {
    max-width: 200px;
    height: 100px;
    float: left;
    margin-top: -6%;
    margin-left: 24%;

    
}

main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;

    
}

form {
    display: grid;
    gap: 10px;

    

}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;

    
}

#respuesta {
    margin-top: 20px;
    

}

/* Media Queries para pantallas de 500px o menos */
@media (max-width: 500px) {
    #img {
        max-width: 100%;
        height: auto;
        float: none;
        margin: 0 auto;
    }

    main {
        max-width: 100%;
        padding: 10px;
    }
}

/* Media Queries para pantallas de 400px o menos */
@media (max-width: 400px) {
    header {
        font-size: 18px;
    }

    button {
        font-size: 14px;
    }
}

/* Media Queries para pantallas de 800px o menos */
@media (max-width: 800px) {
    #img {
        max-width: 150px;
    }

    main {
        max-width: 80%;
    }
}

